<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="50%">&nbsp;</td>
        <td align="center">
            <table
                    id="JR_PAGE_ANCHOR_0_1"
                    role="none"
                    class="jrPage"
                    data-jr-height="727"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    style="
              empty-cells: show;
              width: 625px;
              border-collapse: collapse;
              background-color: white;
            "
            >
                <style type="text/css">
                    #JR_PAGE_ANCHOR_0_1 th {
                        font-weight: normal;
                    }
                    #JR_PAGE_ANCHOR_0_1 ul {
                        list-style-type: disc;
                        padding-inline-start: 40px;
                        margin: 0px;
                    }
                    #JR_PAGE_ANCHOR_0_1 ol {
                        list-style-type: decimal;
                        padding-inline-start: 40px;
                        margin: 0px;
                    }
                </style>
                <tr role="none" valign="top" style="height: 0">
                    <td style="width: 18px"></td>
                    <td style="width: 2px"></td>
                    <td style="width: 5px"></td>
                    <td style="width: 13px"></td>
                    <td style="width: 82px"></td>
                    <td style="width: 20px"></td>
                    <td style="width: 70px"></td>
                    <td style="width: 10px"></td>
                    <td style="width: 10px"></td>
                    <td style="width: 90px"></td>
                    <td style="width: 90px"></td>
                    <td style="width: 27px"></td>
                    <td style="width: 38px"></td>
                    <td style="width: 25px"></td>
                    <td style="width: 20px"></td>
                    <td style="width: 53px"></td>
                    <td style="width: 17px"></td>
                    <td style="width: 35px"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="18"></td>
                </tr>
                <tr valign="top" style="height: 5px">
                    <td colspan="2"></td>
                    <td colspan="6" rowspan="2">
                        <img
                                src="images/eazimeds_logo.jpg"
                                data-th-src="|cid:springLogo|"
                                style="height: 68px"
                        />
                    </td>
                    <td colspan="10"></td>
                </tr>
                <tr valign="top" style="height: 63px">
                    <td colspan="2"></td>
                    <td colspan="5"></td>
                    <td
                            colspan="5"
                            rowspan="2"
                            style="text-indent: 0px; text-align: left"
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Reg: K2018252309<br />57 Carlswald Meadows<br />Midrand,
                  Gauteng<br />South Africa<br />027749779640</span
                >
                    </td>
                </tr>
                <tr valign="top" style="height: 12px">
                    <td colspan="13"></td>
                </tr>
                <tr valign="top" style="height: 1px">
                    <td colspan="2"></td>
                    <td colspan="15" style="border-top: 3px solid #2393be"></td>
                    <td></td>
                </tr>
                <tr valign="top" style="height: 19px">
                    <td colspan="18"></td>
                </tr>
                <tr valign="top" style="height: 163px">
                    <td></td>
                    <td colspan="16">
                        <div style="width: 100%; height: 100%; position: relative">
                            <div
                                    style="
                      position: absolute;
                      overflow: hidden;
                      width: 100%;
                      height: 100%;
                    "
                            >
                                <table
                                        cellpadding="0"
                                        cellspacing="0"
                                        border="0"
                                        style="
                        empty-cells: show;
                        width: 100%;
                        border-collapse: collapse;
                      "
                                >
                                    <tr role="none" valign="top" style="height: 0">
                                        <td style="width: 572px"></td>
                                    </tr>
                                    <tr valign="top" style="height: 13px">
                                        <td></td>
                                    </tr>
                                    <tr valign="top" style="height: 150px">
                                        <td style="pointer-events: auto">
                                            <img
                                                    src="images/banner.jpg"
                                                    data-th-src="|cid:banner|"
                                                    style="width: 572px"
                                            />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div
                                    style="
                      position: relative;
                      width: 100%;
                      height: 100%;
                      pointer-events: none;
                    "
                            >
                                <table
                                        cellpadding="0"
                                        cellspacing="0"
                                        border="0"
                                        style="
                        empty-cells: show;
                        width: 100%;
                        border-collapse: collapse;
                      "
                                >
                                    <tr role="none" valign="top" style="height: 0">
                                        <td style="width: 7px"></td>
                                        <td style="width: 185px"></td>
                                        <td style="width: 380px"></td>
                                    </tr>
                                    <tr valign="top" style="height: 30px">
                                        <td></td>
                                        <td
                                                style="
                            pointer-events: auto;
                            text-indent: 0px;
                            text-align: left;
                          "
                                        >
                          <span
                                  style="
                              font-family: 'DejaVu Sans', Arial, Helvetica,
                                sans-serif;
                              color: #878383;
                              font-size: 11px;
                              line-height: 1.2578125;
                              text-decoration: underline;
                            "
                          >Manage your appointment</span
                          >
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top" style="height: 133px">
                                        <td colspan="3"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr valign="top" style="height: 5px">
                    <td colspan="18"></td>
                </tr>
                <tr valign="top" style="height: 30px">
                    <td colspan="7"></td>
                    <td colspan="4" style="text-indent: 0px; text-align: left">
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 14px;
                    line-height: 1.2578125;
                    font-weight: bold;
                  "
                >Theatre Booking</span
                >
                    </td>
                    <td colspan="7"></td>
                </tr>
                <tr valign="top" style="height: 12px">
                    <td colspan="18"></td>
                </tr>
                <tr valign="top" style="height: 10px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Patient ID:</span
                >
                    </td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                ><b th:text="${booking.patientId}"></b></span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Procedure:</span
                >
                    </td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                ><b th:text="${booking.procedure}"></b></span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Date:</span
                >
                    </td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                ><b th:text="${booking.date}"></b></span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Time:</span
                >
                    </td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                ><b th:text="${booking.time}"></b></span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Theatre Room Number:</span
                >
                    </td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                ><b th:text="${booking.theatreRoomNo}"></b></span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Surgeon on Call:</span
                >
                    </td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                ><b th:text="${booking.surgeonOnCall}"></b></span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Anaesthesiologist On Call:</span
                >
                    </td>
                    <td
                            colspan="4"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                ><b th:text="${booking.anaesthesiologistOnCall}"></b></span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 10px">
                    <td colspan="5"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td colspan="3"></td>
                </tr>
                <tr valign="top" style="height: 10px">
                    <td colspan="18"></td>
                </tr>
                <tr valign="top" style="height: 17px">
                    <td colspan="5"></td>
                    <td colspan="3" style="text-indent: 0px; text-align: left">
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Thanks</span
                >
                    </td>
                    <td colspan="10"></td>
                </tr>
                <tr valign="top" style="height: 17px">
                    <td colspan="5"></td>
                    <td colspan="3" style="text-indent: 0px; text-align: left">
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 10px;
                    line-height: 1.2578125;
                  "
                >Eazimeds</span
                >
                    </td>
                    <td colspan="10"></td>
                </tr>
                <tr valign="top" style="height: 3px">
                    <td colspan="18"></td>
                </tr>
                <tr valign="top" style="height: 82px">
                    <td colspan="9"></td>
                    <td colspan="3">
                        <div style="width: 100%; height: 100%; position: relative">
                            <div
                                    style="
                      position: absolute;
                      overflow: hidden;
                      width: 100%;
                      height: 100%;
                    "
                            >
                                <table
                                        cellpadding="0"
                                        cellspacing="0"
                                        border="0"
                                        style="
                        empty-cells: show;
                        width: 100%;
                        border-collapse: collapse;
                      "
                                >
                                    <tr role="none" valign="top" style="height: 0">
                                        <td style="width: 160px"></td>
                                        <td style="width: 47px"></td>
                                    </tr>
                                    <tr valign="top" style="height: 30px">
                                        <td
                                                style="
                            pointer-events: auto;
                            text-indent: 0px;
                            text-align: left;
                          "
                                        >
                          <span
                                  style="
                              font-family: 'DejaVu Sans', Arial, Helvetica,
                                sans-serif;
                              color: #878383;
                              font-size: 10px;
                              line-height: 1.2578125;
                            "
                          >Need to chage your appointment?</span
                          >
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div
                                    style="
                      position: relative;
                      width: 100%;
                      height: 100%;
                      pointer-events: none;
                    "
                            >
                                <table
                                        cellpadding="0"
                                        cellspacing="0"
                                        border="0"
                                        style="
                        empty-cells: show;
                        width: 100%;
                        border-collapse: collapse;
                      "
                                >
                                    <tr role="none" valign="top" style="height: 0">
                                        <td style="width: 18px"></td>
                                        <td style="width: 189px"></td>
                                    </tr>
                                    <tr valign="top" style="height: 18px">
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr valign="top" style="height: 64px">
                                        <td></td>
                                        <td>
                                            <div
                                                    style="
                              width: 100%;
                              height: 100%;
                              position: relative;
                            "
                                            >
                                                <div
                                                        style="
                                position: absolute;
                                overflow: hidden;
                                width: 100%;
                                height: 100%;
                              "
                                                >
                                                    <table
                                                            cellpadding="0"
                                                            cellspacing="0"
                                                            border="0"
                                                            style="
                                  empty-cells: show;
                                  width: 100%;
                                  border-collapse: collapse;
                                "
                                                    >
                                                        <tr role="none" valign="top" style="height: 0">
                                                            <td style="width: 13px"></td>
                                                            <td style="width: 160px"></td>
                                                            <td style="width: 16px"></td>
                                                        </tr>
                                                        <tr valign="top" style="height: 30px">
                                                            <td></td>
                                                            <td
                                                                    style="
                                      pointer-events: auto;
                                      text-indent: 0px;
                                      text-align: left;
                                    "
                                                            >
                                    <span
                                            style="
                                        font-family: 'DejaVu Sans', Arial,
                                          Helvetica, sans-serif;
                                        color: #2393be;
                                        font-size: 10px;
                                        line-height: 1.2578125;
                                      "
                                    >Cancel appointment</span
                                    >
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div
                                                        style="
                                position: relative;
                                width: 100%;
                                height: 100%;
                                pointer-events: none;
                              "
                                                >
                                                    <table
                                                            cellpadding="0"
                                                            cellspacing="0"
                                                            border="0"
                                                            style="
                                  empty-cells: show;
                                  width: 100%;
                                  border-collapse: collapse;
                                "
                                                    >
                                                        <tr role="none" valign="top" style="height: 0">
                                                            <td style="width: 189px"></td>
                                                        </tr>
                                                        <tr valign="top" style="height: 18px">
                                                            <td></td>
                                                        </tr>
                                                        <tr valign="top" style="height: 46px">
                                                            <td>
                                                                <div
                                                                        style="
                                        width: 100%;
                                        height: 100%;
                                        position: relative;
                                      "
                                                                >
                                                                    <div
                                                                            style="
                                          position: absolute;
                                          overflow: hidden;
                                          width: 100%;
                                          height: 100%;
                                        "
                                                                    >
                                                                        <table
                                                                                cellpadding="0"
                                                                                cellspacing="0"
                                                                                border="0"
                                                                                style="
                                            empty-cells: show;
                                            width: 100%;
                                            border-collapse: collapse;
                                          "
                                                                        >
                                                                            <tr
                                                                                    role="none"
                                                                                    valign="top"
                                                                                    style="height: 0"
                                                                            >
                                                                                <td style="width: 29px"></td>
                                                                                <td style="width: 160px"></td>
                                                                            </tr>
                                                                            <tr valign="top" style="height: 30px">
                                                                                <td></td>
                                                                                <td
                                                                                        style="
                                                pointer-events: auto;
                                                text-indent: 0px;
                                                text-align: left;
                                              "
                                                                                >
                                              <span
                                                      style="
                                                  font-family: 'DejaVu Sans',
                                                    Arial, Helvetica, sans-serif;
                                                  color: #2393be;
                                                  font-size: 10px;
                                                  line-height: 1.2578125;
                                                "
                                              >Reschedule</span
                                              >
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div
                                                                            style="
                                          position: relative;
                                          width: 100%;
                                          height: 100%;
                                          pointer-events: none;
                                        "
                                                                    >
                                                                        <table
                                                                                cellpadding="0"
                                                                                cellspacing="0"
                                                                                border="0"
                                                                                style="
                                            empty-cells: show;
                                            width: 100%;
                                            border-collapse: collapse;
                                          "
                                                                        >
                                                                            <tr
                                                                                    role="none"
                                                                                    valign="top"
                                                                                    style="height: 0"
                                                                            >
                                                                                <td style="width: 160px"></td>
                                                                                <td style="width: 29px"></td>
                                                                            </tr>
                                                                            <tr valign="top" style="height: 16px">
                                                                                <td colspan="2"></td>
                                                                            </tr>
                                                                            <tr valign="top" style="height: 30px">
                                                                                <td
                                                                                        style="
                                                pointer-events: auto;
                                                text-indent: 0px;
                                                text-align: left;
                                              "
                                                                                >
                                              <span
                                                      style="
                                                  font-family: 'DejaVu Sans',
                                                    Arial, Helvetica, sans-serif;
                                                  color: #2393be;
                                                  font-size: 10px;
                                                  line-height: 1.2578125;
                                                "
                                              >Book a new appointment</span
                                              >
                                                                                </td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td colspan="6"></td>
                </tr>
                <tr valign="top" style="height: 48px">
                    <td colspan="18"></td>
                </tr>
                <tr valign="top" style="height: 10px">
                    <td colspan="3"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td></td>
                </tr>
                <tr valign="top" style="height: 20px">
                    <td colspan="3"></td>
                    <td style="background-color: #ededed"></td>
                    <td
                            colspan="12"
                            style="
                  background-color: #ededed;
                  text-indent: 0px;
                  text-align: center;
                "
                    >
                <span
                        style="
                    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
                    color: #878383;
                    font-size: 11px;
                    line-height: 1.2578125;
                  "
                >You've recieved this essential service message due to your
                  &nbsp;recently booked appointment</span
                >
                    </td>
                    <td style="background-color: #ededed"></td>
                    <td></td>
                </tr>
                <tr valign="top" style="height: 5px">
                    <td colspan="3"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td style="background-color: #ededed"></td>
                    <td></td>
                </tr>
                <tr valign="top" style="height: 25px">
                    <td colspan="18"></td>
                </tr>
            </table>
        </td>
        <td width="50%">&nbsp;</td>
    </tr>
</table>
</body>
</html>