<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        a {text-decoration: none}
    </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr><td width="50%">&nbsp;</td><td align="center">

        <table id="JR_PAGE_ANCHOR_0_1" role="none" class="jrPage" data-jr-height="792" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 625px; border-collapse: collapse; background-color: white;">
            <style type="text/css">
                #JR_PAGE_ANCHOR_0_1 th {font-weight: normal;}
                #JR_PAGE_ANCHOR_0_1 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
                #JR_PAGE_ANCHOR_0_1 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
            </style>
            <tr role="none" valign="top" style="height:0">
                <td style="width:20px"></td>
                <td style="width:50px"></td>
                <td style="width:39px"></td>
                <td style="width:12px"></td>
                <td style="width:38px"></td>
                <td style="width:12px"></td>
                <td style="width:49px"></td>
                <td style="width:1px"></td>
                <td style="width:9px"></td>
                <td style="width:149px"></td>
                <td style="width:42px"></td>
                <td style="width:4px"></td>
                <td style="width:50px"></td>
                <td style="width:4px"></td>
                <td style="width:15px"></td>
                <td style="width:5px"></td>
                <td style="width:41px"></td>
                <td style="width:50px"></td>
                <td style="width:35px"></td>
            </tr>
            <tr valign="top" style="height:20px">
                <td colspan="19">
                </td>
            </tr>
            <tr valign="top" style="height:5px">
                <td>
                </td>
                <td colspan="6" rowspan="2">
                    <img
                            src="images/eazimeds_logo.jpg"
                            data-th-src="|cid:springLogo|"
                            style="height: 68px"
                    /></td>
                <td colspan="12">
                </td>
            </tr>
            <tr valign="top" style="height:63px">
                <td>
                </td>
                <td colspan="6">
                </td>
                <td colspan="6" rowspan="2" style="text-indent: 0px; text-align: left;">
                    <span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #878383; font-size: 10px; line-height: 1.2578125;"><b>Reg: K2018252309</b><br/>626 Street<br/>Johannesburg<br/>South Africa<br/>027749779640</span></td>
            </tr>
            <tr valign="top" style="height:12px">
                <td colspan="13">
                </td>
            </tr>
            <tr valign="top" style="height:1px">
                <td>
                </td>
                <td colspan="17" style="border-top: 3px solid #2393BE; ">
                </td>
                <td>
                </td>
            </tr>
            <tr valign="top" style="height:9px">
                <td colspan="19">
                </td>
            </tr>
            <tr valign="top" style="height:30px">
                <td colspan="9">
                </td>
                <td colspan="3" style="text-indent: 0px; text-align: left;">
                    <span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 16px; line-height: 1.2578125; font-weight: bold;">Application Response</span></td>
                <td colspan="7">
                </td>
            </tr>
            <tr valign="top" style="height:10px">
                <td colspan="19">
                </td>
            </tr>
            <tr valign="top" style="height:21px">
                <td colspan="2">
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; ">
                </td>
                <td style="border-top: 1px solid #000000; border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:30px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td colspan="9" style="text-indent: 0px; text-align: left;">
                    <span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #2393BE; font-size: 16px; line-height: 1.2578125;"> &nbsp; Application ID: <b th:text="${applicationReviewDto.applicationId}"></b></span></td>
                <td>
                </td>
                <td>
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:15px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:30px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td colspan="5" style="text-indent: 0px; text-align: left;">
                    <span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #2393BE; font-size: 16px; line-height: 1.2578125;">Review Status: <b th:text="${applicationReviewDto.status}"></b></span></td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:25px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:160px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td colspan="2">
                    <img
                            src="images/mailIcon.jpg"
                            data-th-src="|cid:mailIcon|"
                            style="height: 158px"
                    /></td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:30px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:10px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:20px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td colspan="11" style="background-color: #EDEDED; text-indent: 0px; text-align: left;">
                    <span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #878383; font-size: 10px; line-height: 1.2578125;"><b th:text="${applicationReviewDto.comments}"></b> . <b th:text="${applicationReviewDto.description}"></b></span></td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:5px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="background-color: #EDEDED; ">
                </td>
                <td style="border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:64px">
                <td colspan="2">
                </td>
                <td style="border-left: 1px solid #000000; border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; ">
                </td>
                <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000; ">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr valign="top" style="height:232px">
                <td colspan="19">
                </td>
            </tr>
        </table>

    </td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>